

eco-hunger, eco-thirst {
	&.HideMe {
		display: none;
	}
}

.Lifebar {
	display: flex;
	flex-direction: row;
	
	.LifebarFragment {
	  margin: 1px;
	  width: 10px;
	  height: 6px;
	  
	  border: 1px solid black;
	  border-radius: 3px;
	}
	
	
	&.Hunger {
	  	.LifebarFragment {
		  background: darken(#279f27, 30%);
	  
	  	&.Full {
		  background: #279f27;
		  }
		}
	}
	&.Thirst {
	  	.LifebarFragment {
		  background: darken(#1e7dff, 30%);

		&.Full {
			background: #1e7dff;
		}
	  } 
	}
	&.Reproduction {
		.LifebarFragment {
		background: darken(#7339ac, 30%);

		&.Full {
		  background: #7339ac;
	  }
	} 
  }
	&.Health {
	  	.LifebarFragment {
		  background: darken(#ff1a1a, 30%);

		  &.Full {
			background: #ff1a1a;
		}
	  } 
	}
  }